<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @posts.each do |post| %>
        <div class="card mb-4">
          <%= image_tag post.image, class: 'card-img-top' %>
          <div class="card-body">
            <p class="card-text"> <%= post.text %></p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted by <%= link_to post.user.email, home_index_path %>
          </div>
        </div>
      <% end %>
      <div class="col-md-4 mx-auto">
        <%= paginate @posts%>
      </div>
    </div>
  </div>
</div>